* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 170px;
    width: 100%;
    background-color: #00a6fb;
}

.immagini {
    height: 100%;
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
}

.immagini img {
    height: 100%;
    width: 300px;
}

main h4, main h5 {
    color: #a6a2a2;
}

main a {
    text-decoration: none;
    color: #01baef;
}

main table {
    border-collapse: collapse;
    background-color: #90e0ef;
}

main thead {
    background-color: #00a6fb;
    color: white;
}

main tr:nth-child(even) {
    background-color: white;
}

.interessi img {
    display: block;
}

.interessi span {
    color: black;
}