/* Regole generali */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0px auto;
}

/* Header */
.main-header {
    height: 150px;
    background-image: url("../img/pattern.png");
    background-color: #4EA0FF;
}

/* Logo */
.logo {
    height: 150px;
    padding-top: 50px;
}

/* Immagine usata come logo */
.logo img {
    height: 100px;
}

/* Main */
.main-content {
    padding-top: 20px;
}

/* Titolo */
.title h1 {
    font-size: 42px;
}

/* Sottotitolo */
.title h2 {
    font-size: 24px;
    color: #848484;
}

/* Sottotitolo */
.title h3 {
    font-size: 14px;
    color: #848484;
}

/* Ancora */
.title a {
    color: #2AACE6;
}

/* Immagini */
.article-images {
    padding-top: 10px;
}

/* Informazioni */
.info {
    padding-top: 10px;
    font-size: 18px;
}

/* Lista */
.info ul {
    padding-left: 20px;
}

/* Tabella */
.info table {
    width: 100%;
    border-collapse: collapse;
}

/* Tabella intestazione */
.info th {
    text-align: left;
    background-color: #20A9E5;
    color: white;
}

/* Tabella colonne */
.info td {
    width: calc(100% / 3);
}

/* Tabella righe colore */
.info tbody tr:nth-child(odd) {
    background-color: #B1E5F2;
}

/* Consigliati titolo*/
.suggestions h4 {
    color: #848484;
    font-size: 18px;
}

/* Riquadro */
.square {
    width: 320px;
    height: 250px;
    background-color: black;
    position: relative;
}

/* Immagine riquadro */
.square img {
    width: 100%;
    height: 100%;
}

/* Paragrafo riquadro */
.square p {
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    font-size: 20px;
}