* {
    margin: 0px;
    padding: 0px;
}

header {
    height: 170px;
    width: 100%;
    background-color: #00a6fb;
}

.immagini {
    height: 100%;
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
}

.immagini img {
    height: 100%;
    width: 300px;
}